<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="jumbo-bg"  style=" background: linear-gradient(120deg, #26da2f9a, #bbc4119a, #0ec03a9f), url('/images/collins-lesulie-0VEDrQXxrQo-unsplash.jpg') no-repeat;">
        <div class="header">
            <a href="https://zuri.team/" class="logo">
                <svg width="110" height="19" viewBox="0 0 110 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.05078 15.3984V15.3633L12.5703 3.1875V0.949219H0.746094V3.55078H8.76172V3.59766L0.371094 15.7266V18H12.6055V15.3984H4.05078ZM23.2109 6.29297V11.8945C23.2109 12.5039 23.1289 13.0664 22.9648 13.5586C22.8008 14.0508 22.5781 14.4609 22.2969 14.7656C22.0156 15.082 21.6875 15.3281 21.3359 15.4922C20.9727 15.6562 20.5977 15.7383 20.1992 15.7383C19.7773 15.7383 19.4375 15.6914 19.1562 15.5977C18.875 15.5039 18.6289 15.3281 18.4414 15.0938C18.2422 14.8594 18.1016 14.5547 18.0078 14.1562C17.9141 13.7695 17.8789 13.2773 17.8789 12.6914V6.29297H15.1953V13.418C15.1953 14.2734 15.3008 15.0117 15.5117 15.6328C15.7227 16.2539 16.0156 16.7461 16.4141 17.1094C16.8125 17.4844 17.2695 17.7539 17.7852 17.9297C18.3008 18.1055 18.8984 18.1875 19.5664 18.1875C20.2578 18.1875 20.9141 18.0469 21.5469 17.7539C22.168 17.4609 22.707 17.0391 23.1758 16.4766H23.2109V18H25.8945V6.29297H23.2109ZM35.6562 6.11719C34.9414 6.11719 34.2734 6.29297 33.6406 6.62109C33.0078 6.94922 32.4688 7.42969 32.0117 8.05078H31.9766V6.29297H29.293V18H31.9766V12.4453C31.9766 11.8125 32.0938 11.2383 32.3398 10.7344C32.5859 10.2305 32.9492 9.83203 33.4414 9.52734C33.9336 9.23438 34.5078 9.08203 35.1758 9.08203C35.4102 9.08203 35.6797 9.09375 35.9844 9.11719V6.12891C35.9141 6.12891 35.8086 6.11719 35.6562 6.11719ZM39.7578 4.54688C40.0742 4.54688 40.3672 4.47656 40.6484 4.3125C40.9297 4.14844 41.1523 3.9375 41.3164 3.65625C41.4805 3.38672 41.5625 3.09375 41.5625 2.76562C41.5625 2.28516 41.375 1.86328 41.0234 1.51172C40.6719 1.16016 40.25 0.984375 39.7578 0.984375C39.2422 0.984375 38.8203 1.16016 38.4688 1.51172C38.1172 1.86328 37.9414 2.27344 37.9414 2.76562C37.9414 3.25781 38.1172 3.67969 38.4688 4.03125C38.8203 4.38281 39.2422 4.54688 39.7578 4.54688ZM38.3984 18H41.082V6.29297H38.3984V18ZM55.0859 18H57.9805V3.55078H62.8672V0.949219H50.2461V3.55078H55.0859V18ZM73.9062 12.0117C73.9062 10.8867 73.6719 9.86719 73.2148 8.97656C72.7461 8.08594 72.0898 7.39453 71.2227 6.87891C70.3555 6.375 69.3477 6.11719 68.2227 6.11719C67.4141 6.11719 66.6641 6.26953 65.9609 6.5625C65.2578 6.85547 64.6484 7.26562 64.1445 7.78125C63.6289 8.30859 63.2305 8.94141 62.9492 9.69141C62.6562 10.4414 62.5156 11.2617 62.5156 12.1406C62.5156 13.3359 62.7734 14.4023 63.3008 15.3281C63.8164 16.2539 64.5312 16.957 65.4453 17.4492C66.3477 17.9414 67.3672 18.1875 68.5039 18.1875C69.5938 18.1875 70.5547 17.9883 71.3867 17.5898C72.2188 17.1914 72.8984 16.6523 73.4375 15.9727L71.5625 14.3672C70.8242 15.293 69.8516 15.75 68.6445 15.75C67.7773 15.75 67.0508 15.5156 66.4531 15.0352C65.8555 14.5664 65.4688 13.9102 65.3047 13.0781H73.8359C73.8828 12.7969 73.9062 12.4453 73.9062 12.0117ZM68.3633 8.55469C68.8555 8.55469 69.3008 8.66016 69.6992 8.85938C70.0977 9.05859 70.4141 9.32812 70.6602 9.67969C70.9062 10.0312 71.0938 10.4414 71.2109 10.9102H65.3516C65.5391 10.1602 65.9023 9.58594 66.4414 9.17578C66.9805 8.76562 67.6133 8.55469 68.3633 8.55469ZM85.2852 6.29297V7.69922H85.2383C84.3477 6.64453 83.1406 6.11719 81.6172 6.11719C80.8203 6.11719 80.0703 6.26953 79.3789 6.57422C78.6758 6.87891 78.0781 7.30078 77.5859 7.82812C77.082 8.36719 76.6836 9.01172 76.4023 9.76172C76.1094 10.5234 75.9688 11.332 75.9688 12.1992C75.9688 12.9141 76.0508 13.582 76.2383 14.2148C76.4258 14.8477 76.6836 15.3984 77.0234 15.8789C77.3633 16.3594 77.7617 16.7695 78.2305 17.1211C78.6992 17.4727 79.2148 17.7422 79.8008 17.918C80.3867 18.1055 80.9961 18.1875 81.6406 18.1875C83.2344 18.1875 84.4766 17.6016 85.3672 16.4297H85.4023V18H87.9688V6.29297H85.2852ZM82.0625 15.75C81.0664 15.75 80.2578 15.4219 79.6367 14.7656C79.0039 14.1094 78.6992 13.2539 78.6992 12.2109C78.6992 11.6719 78.7812 11.168 78.957 10.6992C79.1328 10.2305 79.3789 9.84375 79.6836 9.53906C79.9883 9.23438 80.3398 8.98828 80.75 8.8125C81.1602 8.64844 81.6055 8.55469 82.0742 8.55469C83.0234 8.55469 83.8086 8.90625 84.4414 9.60938C85.0742 10.3125 85.3906 11.1797 85.3906 12.2109C85.3906 13.2539 85.0625 14.1094 84.418 14.7656C83.7734 15.4219 82.9883 15.75 82.0625 15.75ZM105.465 6.11719C104.598 6.11719 103.801 6.29297 103.086 6.62109C102.359 6.94922 101.762 7.42969 101.27 8.0625H101.223C100.52 6.77344 99.3594 6.11719 97.7305 6.11719C97.0391 6.11719 96.3711 6.28125 95.7383 6.58594C95.1055 6.89062 94.543 7.33594 94.0742 7.91016H94.0391V6.29297H91.3555V18H94.0391V12.1641C94.0391 11.0508 94.2969 10.1719 94.8242 9.52734C95.3516 8.88281 96.0312 8.55469 96.8516 8.55469C98.3984 8.55469 99.1836 9.67969 99.1836 11.9062V18.0117H101.867V12.1641C101.867 11.0508 102.125 10.1719 102.641 9.52734C103.156 8.88281 103.812 8.55469 104.598 8.55469C106.121 8.55469 106.895 9.67969 106.895 11.9062V18.0117H109.578V11.2266C109.578 9.51562 109.215 8.23828 108.512 7.39453C107.797 6.55078 106.777 6.11719 105.465 6.11719Z" fill="#514949"/>
                    <path d="M46.2617 18.1875C46.7539 18.1875 47.1758 18.0234 47.5273 17.6719C47.8789 17.3203 48.0664 16.8984 48.0664 16.4062C48.0664 15.9141 47.8789 15.4922 47.5273 15.1406C47.1758 14.7891 46.7539 14.6133 46.2617 14.6133C45.9219 14.6133 45.6172 14.6953 45.3359 14.8594C45.0547 15.0234 44.832 15.2344 44.668 15.5156C44.5039 15.7969 44.4336 16.0898 44.4336 16.4062C44.4336 16.8984 44.6094 17.3203 44.9609 17.6719C45.3125 18.0234 45.7461 18.1875 46.2617 18.1875Z" fill="#F8444F"/>
                </svg>
            </a>
            <a href="/" class="contact"> Home</a>
        </div>
        <div class="contact-container">
            <div class="popup">
                <div class="popup-inner">
                  <div class="popup-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <p style="float: right; cursor: pointer;" (click)="registerModal()">
                            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1.61279 15.052L14.8382 1" stroke="#D9251D" stroke-width="1.65318" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M3.26611 1L16.4915 15.052" stroke="#D9251D" stroke-width="1.65318" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                          </p>
                        </div>
                        <div class="col-12">
                          <div class="d-flex justify-content-center">
                            <svg width="175" height="148" viewBox="0 0 175 148" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M58.6897 36.1435C63.0389 29.4052 70.6348 24.9947 79.2108 24.9947C92.7486 24.9947 103.714 35.9597 103.714 49.4975C103.714 58.0735 99.3031 65.6694 92.5648 70.0186L58.6897 36.1435ZM128.216 105.67C128.094 98.9319 124.357 92.745 118.354 89.6209C115.046 87.9057 111.432 86.313 107.512 84.9653L128.216 105.67ZM135.506 130.296L22.9155 17.7051L14.217 26.3423L68.6746 80.7998C57.587 82.2087 47.9084 85.6392 40.0675 89.6821C33.9418 92.8062 30.2051 99.1157 30.2051 105.976V123.006H110.881L126.869 138.994L135.506 130.296Z" fill="url(#paint0_linear)"/>
                              <path d="M46.7994 99.6068C46.5077 99.4824 46.3273 99.1854 46.3518 98.8693C46.6963 94.4449 46.1357 93.0511 42.825 90.0964C42.5889 89.885 42.5131 89.5462 42.6376 89.2542C42.7621 88.9625 43.0592 88.7825 43.3751 88.8069C47.7994 89.1514 49.1932 88.5908 52.1479 85.2802C52.3593 85.0433 52.6982 84.9679 52.9902 85.0925C53.2822 85.217 53.4618 85.5136 53.4377 85.8303C53.0933 90.2543 53.6539 91.6482 56.9645 94.6032C57.2007 94.8142 57.2764 95.1533 57.152 95.445C57.0274 95.737 56.7304 95.9168 56.4144 95.8927C51.99 95.5484 50.5964 96.1084 47.6416 99.4194C47.4298 99.6557 47.0911 99.7312 46.7994 99.6068Z" fill="white"/>
                              <path d="M143.704 60.2965C145.112 58.5405 149.717 56.1092 154.194 58.2704C158.757 60.4729 160.677 58.4911 162.254 54.083C164.429 48.0047 171.593 48.2748 173 52.7323" stroke="url(#paint1_linear)" stroke-width="3.25507" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M27.0876 52.134L22.3828 47.0711L23.8865 40.3254C23.9704 39.9489 23.8332 39.5574 23.533 39.3157C23.2328 39.074 22.8212 39.0235 22.4711 39.186L16.2023 42.0958L10.2511 38.5809C9.53005 38.155 8.62962 38.7427 8.7303 39.5749L9.56033 46.4364L4.37841 51.0101C3.75065 51.5645 4.03104 52.603 4.85381 52.7636L11.6359 54.0946C14.6303 61.0024 14.4109 60.6068 14.6787 60.8223C14.8423 60.9541 15.0461 61.0343 15.2642 61.045C15.6492 61.0639 16.0118 60.8629 16.1994 60.5261L19.5608 54.4869L26.4411 53.8321C27.2748 53.7532 27.6584 52.7486 27.0876 52.134Z" fill="#FFA92C"/>
                              <path d="M13.0383 51.5304L12.2083 44.6689C12.1077 43.8376 13.0072 43.2486 13.7291 43.6749L19.6802 47.1898L22.6653 45.8042L23.8865 40.3254C23.9704 39.9489 23.8332 39.5574 23.533 39.3157C23.2328 39.074 22.8212 39.0235 22.4711 39.186L16.2023 42.0958L10.2511 38.5809C9.53005 38.155 8.62962 38.7427 8.7303 39.5749L9.56033 46.4364L4.37841 51.0101C3.75065 51.5645 4.03104 52.603 4.85381 52.7636L10.4061 53.8533L13.0383 51.5304Z" fill="#FF8828"/>
                              <defs>
                              <linearGradient id="paint0_linear" x1="74.8615" y1="17.7051" x2="74.8615" y2="138.994" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#281AC8"/>
                              <stop offset="1" stop-color="#082CF5"/>
                              </linearGradient>
                              <linearGradient id="paint1_linear" x1="137.162" y1="53.3703" x2="141.293" y2="68.7905" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#FC58B3"/>
                              <stop offset="1" stop-color="#FEAE68"/>
                              </linearGradient>
                              </defs>
                              </svg>
                          </div>
                          <p style="text-align: center; padding-bottom: 20px;">
                            Thank You <%= qs.fname %> for writing to us
                          </p>
                        </div>
                        <div class="col-12">
                          <div class="d-flex justify-content-center align-items-center">
                            <div class="ml">
                              <a class="btn btn-sm btn-navy-color" href="/">Ok</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
</html>