body {
  padding: 0px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}
* {
  padding: 0px;
  margin: 0px;
}

.jumbo-bg {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  min-height: 100vh;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 0;
  background: #f9f9f99a;
}

.logo > svg {
  padding: 10px 30px 10px !important
}

.contact {
  padding-top: 10px !important;
  margin-right: 50px !important;
  text-decoration: none;
  font-size: 19px;
  color: rgb(85, 85, 85)
}

.txt {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.txt > div {
  width: 50vw;
}
.avata {
  display: flex;
  justify-content: center;
  margin-bottom: -50px;
}

.img-fit {
  border-radius: 50%;
}

.box_me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f9f9f99a !important;
  padding-top: 70px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .box_me {
    grid-template-columns: 100%
  }

  .txt > div {
  width: 100vw;
}
  
}

.profile_name {
  margin-bottom: 30px !important;
}

.profile_name > span {
  font-size: 30px;
}
.profile_name > small {
  font-size: 14px;
  padding-bottom: 30px !important;
}

.profile_contact_header {
  font-size: 20px;
  margin-bottom: 20px !important;
  text-transform: uppercase;
  font-style: italic;
}
.profile_contact {
  margin-bottom: 10px !important;
}
.profile_contact > strong {
  padding-bottom: 10px !important;
}

.profile_skill {
  margin-top: 30px !important;
}

.profile_skill > .profile_skill_header {
  font-size: 20px;
  margin-bottom: 20px !important;
  text-transform: uppercase;
  font-style: italic;
}

.profile_skill_txt {
  padding-bottom: 10px;
}

.profile_skill_txt > span {
  font-size: 14px;
}

.profile_txt > h4 {
  font-size: 20px;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  text-transform: uppercase;
  font-style: italic;
}

.profile_txt > p {
  text-align: justify;
  font-size: 14px;
}

.profile_edu, .profile_txt {
  margin-bottom: 20px;
}

.profile_edu > h4 {
  font-size: 20px;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  text-transform: uppercase;
  font-style: italic;
}
.profile_edu > .split {
  text-align: justify;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px !important;
}

.profile_edu > p {
  text-align: justify;
  font-size: 14px;
}


/* Conact */

.contact-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* .txt > div {
  width: 0vw;
} */

.my-form {
  background-color: #f9f9f99a !important;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.text-center {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f9f9f9f0;
}

.my-form-input {
  display: grid;
  margin-bottom: 10px;
}
label {
  font-weight: 700;
  padding: 5px;
  color: #f9f9f9f0;
}
input[type="text"], input[type="email"], textarea {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 5px;
  background: rgba(206, 205, 203, 0.768);
  color: #f9f9f99a;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
  color: #f9f9f99a;
}

.button {
  display: flex;
  justify-content: center;
}

button[type="submit"] {
  height: 30px;
  width: 50%;
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 10px;
  background: rgb(6, 228, 99);
  color: #f9f9f99a;
}

button[type="submit"]:hover {
  background: rgba(6, 228, 98, 0.693);
  color: #f9f9f9f3;
}

/* Creating of Modal Popup */
.popup {
  opacity: 1;
  pointer-events: all;
  transition: 0.4s;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rbg(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.popup-lunch {
  display: block;
  opacity: 1;
  pointer-events: all;
}
.popup-inner {
  background-color: #fff;
  padding: 32px 16px;
  max-width: 768px;
  border-radius: 16px;
  box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.2);
}
.popup-body {
  width: 30vw;
  /* height: 30vh; */
}
@media only screen and (max-width: 768px) {
  .popup-body {
    width: 100%;
  }
}
/* End Creating of Modal Popup */

.d-flex {
  display: flex;
  justify-content: center;
}

.btn-navy-color {
  height: 30px;
  width: 50px !important;
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 10px;
  background: rgb(6, 228, 99);
  color: #f9f9f99a;
}